<div class = 'container'>
  <h1>Inspirational Quotes</h1>
  <hr>

  <div class = 'row'></div>
    <div class = 'col-md-4'>
      <div *ngFor='let quote of quotes;let i = index'>
        </div>
          <li>{{quote.quote}}</li> posted on {{quote.datePosted}}
          <button (click)='toggleDetails(i)' class="btn btn-primary">Toggle Details</button>
        </div>

        <div *ngIf='quote.showAuthor'>
          <app-quote-detail *ngIf='quote.showAuthor' [quote]='quote' (isComplete) = 'deleteQuote'($event, i)></app-quote-detail>
          <app-quote-detail *ngIf='quote.showUsername' [quote]='quote' (isComplete) = 'deleteQuote'($event, i)></app-quote-detail>
        </div>
      </div>
    </div>
  </div>
</div>