* {
    background-image: url("https://images.unsplash.com/photo-1472149110793-7aa262859995?ixid=MXwxMjA3fDB8MHxjb2xsZWN0aW9uLXBhZ2V8MTJ8MTk3NzMwMnx8ZW58MHx8fA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80");
    background-size: cover;
    background-repeat: no-repeat;
}