<div class="container-fluid">
    <h2 class="text-center">New Quote</h2>
    <hr>
    <form #quoteForm='ngForm'>
        <div class="form-group">
  
            <label for="author">Author:</label>
            <input type="text" required class="form-control" id="author">
        </div>
        <div class="form-group">
  
            <label for="description">Quote:</label>
            <textarea class="form-control" id="quote" rows="4" required></textarea>
  
        </div>
        <div class="form-group">
  
            <label for="username">Username:</label>
            <input type="text" required class="form-control" id="username">
  
        </div>
        <div class="form-group">
            <label for="complete">Date:</label>
            <input type='date' id="complete" required>
  
        </div>
        <button type="submit" class="btn btn-success">Add Quote</button>
    </form>
  </div>
